@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
  /* shared classes */
  .primary-radiant {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-violet-900 to-pink-500;
  }
  .secondary-radiant {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-gray-900 to-gray-400;
  }
  /* auth pages */
  .form-lbl {
    @apply block text-sm font-medium text-slate-700;
  }
  .form-input {
    @apply mt-1 block w-full h-11 px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
      focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
      invalid:border-pink-500 invalid:text-pink-600
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }
  .btn-primary {
    @apply mt-1 w-full px-3 py-2 border rounded-md text-sm shadow-sm
       text-white cursor-pointer hover:border-gray-500 font-bold  hover:translate-y-0 bg-gradient-to-r from-violet-800 to-pink-400;
  }
  /* dashboard design  */
  .side-menu {
    @apply flex items-center p-2 text-sm font-bold rounded cursor-pointer;
  }
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(151, 144, 144);
  outline: 1px solid slategrey;
}
